@import 'fonts';
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily1);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: auto;
}

.icon {
  display: none;
}

@media (max-width: 600px) {
  .icon {
    display: block;
  }
}
