@import 'fonts';
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily1);
  scroll-behavior: smooth;
  // color: #232324;
  // color: #fff;
  // background-color: #110410;
}

* {
  box-sizing: border-box;
}

.icon {
  display: none;
}

@media (max-width: 600px) {
  .icon {
    display: block;
  }
}

.container {
  max-width: 90%;
  margin: auto;
}

//Animation Effects
.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 70px;
  display: flex;
  flex-wrap: wrap;
  animation: topBounce 5s ease-in-out infinite;
}

@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background: #2427d6;
  margin: 0 3px 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.effect-2 {
  left: 8%;
  bottom: 10%;
}

.effect-5 {
  right: 9%;
  top: 5%;
  width: 70px;
  display: flex;
  flex-wrap: wrap;
  animation: topBounce 5s ease-in-out infinite;
}

.effect-5 div {
  height: 3px;
  width: 3px;
  background: #18189b;
  margin: 0 3px 10px;
}
