@import 'fonts';
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily1);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.icon {
  display: none;
}

@media (max-width: 600px) {
  .icon {
    display: block;
  }
}

.container {
  max-width: 90%;
  margin: auto;
}

// Effects
.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  animation: topBounce 5s ease-in-out infinite;
}

@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background: #2427d6;
  margin: 0 3px 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.effect-2 {
  left: 3%;
  bottom: 20%;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid #18189b;
  border-radius: 50%;
  left: 50%;
  top: -160px;
  animation: leftBounce 3s ease-in-out infinite;

  @media (max-width: 901px) {
    height: 80px;
    width: 80px;
    left: 30%;
    top: -100px;
    border: 15px solid #18189b;
  }
}

@keyframes leftBounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateX(25px);
  }
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #18189b;
  left: 30%;
  top: 20%;

  @media (max-width: 901px) {
    display: none;
  }
}

.effect-4:before {
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid #18189b;
  position: absolute;
  left: -30px;
  opacity: 0.5;
  left: -35px;
  top: -25px;
  animation: tri 3s ease-in-out infinite;
}

.effect-5 {
  right: 10%;
  top: 5%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  animation: topBounce 2s ease-in-out infinite;
}

.effect-5 div {
  height: 3px;
  width: 3px;
  background: #18189b;
  margin: 0 3px 10px;
}

@keyframes tri {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(2);
  }
}
// Home Section
