@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #317ff9;
  --pink: #ffc7b2;

  /* colors as colors */
  --white: #fff;
  --black100: #000;
  --black200: #282727;
  --greenColor: #1ed760;
  --pinkColor: #7b0dc0;
  --redColor: #c52348;
  --purpleColor: #8057d7;
  --grayColor: #f3ecfa;
  --lightPurple: #bba2f1;

  /* colors as intents */
  --primaryColor: var(--purpleColor);
  --active-color: #f1f1f1;

  /* units */
  --borderRadius: 3px;
  --border-radius: 16px;
  --spotifyArtistImage: "";
  --cardWidth: 90%;
}

.content {
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  padding: 24px 16px;
  z-index: 2;
  position: relative;
  display: flex;
  height: 100%;
}

.info-btn {
  background: var(--blue);
  color: var(--white);
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 8px;
}

.thumbnail-container {
  margin-right: 3%;
  align-self: center;
}

.thumbnail {
  max-width: 180px;
  height: auto;
}

.title {
  margin: 0 0 10px;
  font-size: 24px;
}

.location {
  font-size: 16px;
  margin: 0 0 10px;
}

.initial-content span {
  display: block;
  margin-bottom: 10px;
}

.price {
  font-size: 14px;
  background: var(--pink);
  color: #222;
  padding: 6px 16px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
}

.bg {
  background-color: #fff;
}

.bg:before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../public/assets/bg.png") no-repeat center center/cover
    rgba(15, 8, 15, 0.82);
}

@media (min-width: 801px) {
  .tech-bg {
    background-image: url("../public/assets/tech.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
    z-index: 10;
    height: 100vh;
  }
}

@media (max-width: 801px) {
  .tech-bg {
    background-image: url("../public/assets/tech.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    position: relative;
    z-index: 10;
    min-height: 100vh;
  }
}

.tech-bg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 9, 24, 0.7);
  z-index: -1;
}
.Nav__link {
  position: absolute;
  height: 10px;
  width: 40%;
  top: 14px;
  right: 0;
  background-color: var(--primaryColor);
  opacity: 0.4;
}

/* tabs */
.tab {
  position: relative;
  width: 100%;
}

.tab::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
  background: none;
  transition: background 0.5s ease;
}

.border-underline.active {
  background: var(--active-color);
}

.tab svg {
  height: 30px;
  width: 30px;
  min-width: 30px;
  fill: var(--black);
  transition: fill 0.5s ease;
}

.tab.active::before {
  background: var(--active-color);
}

.tab span {
  font-weight: 700;
  margin-left: 10px;
  transition: color 0.5s ease;
}

.tab.active span {
  color: var(--active-color);
}

.tab a {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: var(--black200);
}
.tab.active a svg,
.tab.active a svg path {
  fill: var(--active-color);
  transition: fill 0.5s ease;
}

/* Progress */
.progress-indicator {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0;
  list-style: none;
  position: relative;
}

.progress-step {
  display: flex;
  flex-direction: column;
  flex: auto;
  position: relative;
}
.progress-step .step-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  background: var(--white);
  border-radius: 30%;
  padding: 20px;
  height: 50px;
  width: 50px;
  font-size: 24px;
  z-index: 1;
  border-color: var(--grayColor);
  color: var(--purpleColor);
  transition: transform 0.5s ease 0.5s, background 0.5s ease,
    border-color 0.5s ease;
}

.progress-step.incomplete .step-number {
  background: #7f3838;
  border-color: var(--grayColor);
  color: var(--black);
}

.progress-step.active .step-number {
  background: var(--white);
  border-color: var(--purpleColor);
  color: var(--purpleColor);
}

.progress-step:not(:last-child):before,
.progress-step:not(:last-child):after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 45%;
  top: 55px;
  padding-bottom: 30px;
}

.progress-step:before {
  height: 100%;
  width: 100%;
  background: var(--grayColor);
}

/* spotify disk */

.spotify-disk {
  display: inline-block;
  width: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0.3em 0.7em rgba(0, 0, 0, 0.25);
  margin: 1em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.spotify-disk:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url(https://res.cloudinary.com/amogl/image/upload/v1489850644/Codepen/Disks/shine.png)
    center no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  border-radius: 50%;
}
.spotify-disk:after {
  content: "";
  padding: 0.2em;
  background: white;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
}
.spotify-disk img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.content {
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  padding: 24px 16px;
  z-index: 2;
  position: relative;
  display: flex;
  height: 100%;
}

.info-btn {
  background: var(--primaryColor);
  color: var(--white);
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 8px;
}

.title {
  margin: 0 0 10px;
  font-size: 24px;
}

.expanded-content {
  overflow: auto;
  max-height: 82vh;
  width: 55%;
}

.title-large {
  font-size: 44px;
  margin: 10px 0;
}

.card-bottom {
  margin-top: 16px;
}

/* project Card */
.Project__Card {
  max-height: 400px;
  min-height: 200px;
  width: var(--cardWidth);
  margin: auto;
  position: relative;
  margin-bottom: 50px;
  padding: 20px 2px;
  border-radius: var(--borderRadius);
  background-color: var(--white);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}
@media (min-width: 801px) {
  .Project__Card {
    max-height: 400px;
    min-height: 200px;
    margin: unset;
    width: var(--cardWidth);
    position: relative;
    margin-bottom: 50px;
    padding: 20px 2px;
    border-radius: var(--borderRadius);
    background-color: var(--white);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
  }
}

.Project__Card::before {
  content: "";
  overflow: hidden;
  background: var(--primaryColor);
  border-radius: var(--border-radius);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translate(8px, 8px);
  transition: transform 0.4s ease;
}

.Project__Card:hover:not(.expanded)::before {
  transform: translate(10px, 10px);
}
