:root {
  --black: rgb(3, 17, 44);
  --white: #fff;
  --black100: #c9bad6;

  --colorWhite: #6b7a8f;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);

  --x: 0;
  --y: 0;
  --d: 50;

  --slide-size: 70vmin;
  --slide-margin: 4vmin;

  // color intentions
  --secondaryColor: var(--black);
  --primaryColor: var(--black);

  // fonts
  --fontFamily1: 'Product Sans Regular';
  --fontFamily2: 'Product Sans Medium Regular';
}
