:root {
  // color intentions
  --primaryColor: #250c42c7;
  --headerColor: #11031fdc;
  --sectionBgColor: #11031fdc;
  --secondaryColor: #ad88d4c7;
  --cardColor: #020003dc;

  // svgs
  --svgDots: #ad88d4c7;

  // fonts
  --fontFamily1: 'Product Sans Regular';
  --fontFamily2: 'Product Sans Medium Regular';
  --fontFamily3: 'Product Sans Thin Regular';
  --fontFamily4: 'Product Sans Light Regular';
  --fontFamily5: 'Product Sans Medium Regular';
  --fontFamily6: 'Product Sans Black Regular';
}
