:root {
  // colors
  --primaryColor: rgb(4, 1, 7);
  --secondaryColor: rgb(16, 7, 20);
  --tertiaryColor: rgb(102, 97, 105);

  // fonts
  --fontFamily1: 'Product Sans Regular';
  --fontFamily2: 'Product Sans Medium Regular';
  --fontFamily3: 'Product Sans Thin Regular';
  --fontFamily4: 'Product Sans Light Regular';
  --fontFamily5: 'Product Sans Medium Regular';
  --fontFamily6: 'Product Sans Black Regular';

  // elevation
  --elevation1: '';
}
